<!DOCTYPE html>
<html>
  <body>
	  <div class="row">
      <div class="span 9 offset6">
        <div class="well">
          <%= form_tag("/project/create", :method => "get") do %>
            <%= label_tag(:name, "Enter Github Repo:") %>
			<%= @user.username %>/<%= text_field_tag :name, params[:name] %>
            <br/>
            <%= submit_tag("Submit", :class => 'btn') %>
          <% end %>
        </div>
      </div>
	  </div>
  </body>
</html>
