<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="row">
	  <div class="span5 offset2" style="padding-left:30px;">
      <h2><%= @project_owner.username %>/<%= @project.name %></h2>
      <p><%= @octo_repo['description'] || "No description found." %></p>
	  </div>
	</div>
	<div class=row">
	  <div class="span5 offset2 well">
	    <h2>Code info</h2>
      <table>
        <% @octo_langs.each do |lang| %>
          <tr>
            <td><%= lang[0] %>:</td><td><%= lang[1] %></td>
          </tr>
        <% end %>
        <tr>
          <% tabs_used = detect_tabs_style(@project_owner.username, @project.name) %>
          <td>Tabs Used: </td><td><%= tabs_used %></td>
      </table>
    </div>
	  <div class="span5 offset1 well">
	    <h2>Users</h2>
		<p>And other relevant info</p>
      </div>
	</div>
  </body>
</html>
