<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
	  <div class="row">
		  <div class="span2 offset2">
			  <img src="<%= Octokit.user(@user.username)['avatar_url'] %>" style="height:150px"/>
		  </div>
		  <div class="span5">
	      <h2><%= @user.username %></h2>
		    <p><%= @user.email %></p>
	    </div>
	  </div>
	  	</div>
	<div class="row" style="padding-top:30px;">
      <div class="span5 offset2 well">
	    <h2>User Information</h2>
		<p>Preferred Indentation: <%= @user.indent == 0 ? 'Tabs' : @user.indent.to_s + ' Spaces' %> </p>
	  </div>
	  <div class="span5 offset1 well">
	    <h2>Project Information</h2>
      <table class="table" id="user-languages">
      <% @langs_hash.each do |lang| %>
      <tr>
        <td><%= lang[0] %></td><td><%= lang_ratio(@langs_hash, lang[0]) %></td>
      </tr>
      <% end %>
      </table>
	  </div>
	</div>
  </body>
</html>
